.sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

.heading {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

.article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex: 1 200px;
}

.second {
    flex: 2 200px;
    order: -1;
}